<h1><%= @list.name %></h1>



<h2>Bookmarks</h2>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li>
      <!-- Movie name -->
      <strong><%= bookmark.movie.title %></strong> 
      <!-- Optional: comment -->
      - <%= bookmark.comment %>

      <!-- Delete link -->
      <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>




<%= link_to "Back to lists", lists_path, class: "btn btn-primary" %>